.container-5{
    width: 75%;
    border: 1px solid black;
    text-align: center;
    margin: auto;
}

/* .div-btn{
    display: flex;
    justify-content: space-around;
    margin: 12px 0;
    padding: 10px;

}

.flex-box-container-1{
    border: 1px solid black;
    justify-content: center;
    display: flex;
    padding: 10px;
} */

/* .flex-box-container-1 div{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
} */
.container-5{
    margin-top: 30px;
}
.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

img{
    border: 1px solid #645f5f;
    margin-right: 2px;
    margin-top: 2px;
}

/* .flex-box-pick-color .form{
    margin: auto 0;
} */

.flex-blackjack-row-1{
    
    background: url('https://ie2-gfebf.cdnppb.net/mexchangeblackjack/turbo/17/assets/gameView/tableBackground.png?v17');
    
}
.flex-blackjack-row-2 div{
    border: 1px solid black;
    padding: 10px;
}
.flex-blackjack-row-2 button{
    border: 1px solid black;
    margin-right: 5px;
}

.flex-blackjack-row-1 img{
    width: 20%;
}
#your-box, #dealer-box{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    flex: 1;
    height: 350px;
}

table, th, td{
    border: 1px solid black;
    padding: 5px;
}
